{% extends "site/base.html" %}

{% block content %}
    
    <div class="spacer30"></div>
  
    <div class="row">
      <div class="span12">
          {% block page_top_menu %}
            <!-- top menu content -->
          {% endblock %}
      </div>
    </div>
    
	<div class="row">
	  <div class="offset1 span4">
	    {% block page_column_one %}
	      <!-- column one content -->
	    {% endblock %}
	  </div>
	  <div class="offset2 span4">
	    {% block page_column_two %}
	      <!-- column two content -->
	    {% endblock %}
	  </div>
	</div>

{% endblock %}   


